.content {
    display: block;
    width: 100%;
    div {
      display: inline-block;
      width: 50%;
      button {
        margin: 0 auto 10px 0;
      }
    }
    a {
      display: inline-block;
      width: 50%;
      svg {
        display: block;
        margin: 0 0 0 auto;
        height: 50px;
        width: 50px;
      }
    }
    button {
      display: block;
      margin: 0 auto;
    }
  }
  